.img-fluid.img-hover:hover {
  opacity: .5;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  transform: scale(1.025);
  -ms-transform: scale(1.5);
  -webkit-transition: scale(1.5);
}

.card.card-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.card-shadow:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

@media (min-width: 300px) {
  .col.assign-border {
  }
}

.Hi-Col {
  border-bottom: 1px solid;
}

.Hi-Col {
  border-bottom: 1px solid black;
}

@media (min-width: 576px) {
  .col.assign-border {
    border-right: 1px solid black;
  }
}

.Heading-Topic {
  text-decoration: underline;
}

@media (min-width: 300px) {
  .contact-bg {
    height: 73.5vh;
    background-image: url("../../assets/img/bg-contact.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 100px;
  }
}

@media (min-width: 992px) {
  .contact-bg {
    height: 80vh;
    background-image: url("../../assets/img/bg-contact.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 100px;
  }
}

.sm-text-center {
  text-align: center !important;
}

@media (min-width: 300px) {
  .h1, h1 {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .h1, h1 {
    text-align: left;
  }
}

@media (min-width: 300px) {
  .p-head {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .p-head {
    text-align: left;
  }
}

